# Środowisko Pythona
__pycache__/
*.py[cod]
.venv/
.cache/
.pytest_cache/
.coverage
.mypy_cache/
.ruff_cache/

.env

data/raw/
data/processed/
evals/results/

.vscode/
.idea/
.ipynb_checkpoints/

.DS_Store
Thumbs.db
desktop.ini

*.log

.streamlit/secrets.toml
